/* ul{
    list-style: none;
    
} */
*{
    padding: 0px ;
    margin: 0px;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
} 

*:root{
    --bgc: #FFFFFF;
    --hc: #040707;
    --tc: #1D1D1F;
    --bgc1:#F5F5F7;
    --bgc2: #FBFBFD;
}

body{
    background: var(--bgc);
}

/* NavBAr classes */
header{
    
    height: 100vh;
    width: 99vw;
}

.navbar-toggler{
     border-width: 0.3rem;
}

.navbar-dark{
    background-color: rgb(10, 9, 9);
}
div ul li a{
    color: floralwhite;
}

.dropdown .dropdown-menu{
    
    text-align: left;
    align-items: center;
}

.dropdown:hover>.dropdown-menu{
    display: block;
}

.dropdown .dropdown-menu li a
{
    color: black;
    width: 50%;
    
}

.dropdown .dropdown-menu li a:hover
{
    background: var(--bgc1);
    width: 100%;
    
}


/* Navbar Classes Ends */



/* //Services classes */

#service-container{
    background: var(--bgc2);
    /* background: linear-gradient(45deg, blueviolet, lightpink ); */
    padding: 15px 9%;
    padding-bottom: 100px;
    margin-top: 5.5rem;
}

.container .heading{
    text-align: center;
    color: var(--hc);
    font-size: 50px;
    padding-bottom: 15px;
    
}

.container .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(270px,1fr)) ;
    gap: 15px;
}

.container .box-container .box{
    /* box-shadow: 0px 5px 10px plum; */
    border-radius: 5px;
    background-color: white;
    text-align: center;
    padding: 30px 20px;
}

.container .box-container .box img{
    height: 15rem;
    width: 15rem;
}

.container .box-container .box h3{
    font-size: 22px;
    color: var(--hc);
    padding: 10px 0;
    font-weight: 400;
}

.container .box-container .box p{
    color: var(--tc);
    font-size:15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background: var(--tc);
    color: white;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box  .btn:hover{
    letter-spacing: 1px;
}

.container .box-container  .box:hover
{
    transform: scale(1.03);
}

/* Services classes end */

/* Home Classes */

.home .banner {
    position: relative;
}

.home .banner  img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.home .banner .content{
    position:absolute;
    top: 60%; left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.home .banner  .content h3{
    font-size: 80px;
    color: floralwhite;
    text-transform: uppercase;
    text-shadow: 0 .1rem .2rem rgba(15, 227, 255, 0.87);
    margin-bottom: 2px;
}

.home .banner  .content  h1{
    font-size: 3rem;
    color: floralwhite;
}

.wrapper{
    display: flex;
  }
  .wrapper .static-text{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }
  .wrapper .dynamic-text{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-text li{
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 15s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-text li span{
    position: relative;
    margin: 5px 0;
    width: 100%;
    line-height: 90px;
  }
  .dynamic-text li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0 ,0, .3);
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(17) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }

.home .banner  .content p{
    font-size: 40px;
    color: floralwhite;
    padding: 2rem 0;
    width: 100%;
   
}

.home .banner  .content a button .btn{
    height: 4rem;
    width: 14rem;
    background: mediumslateblue;
    color: floralwhite;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    margin: 5px;
}

/* End of home Classes */

/* Client Classes */
.client .container h2{
  text-align: center;
  padding: 0 0 70px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 70px;
}

.client .container h2 span{
    color:#ff6600
}

.client{
    padding: 150px 0 0;
    margin-bottom: 10rem;
}

.slick-slide{
    margin: 0 20px;
}

.slick-slide img{
    width: 100%;
    display: block;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus{
    outline: none;
}

.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img{

display: block;
}

.slick-initialized .slick-slide{
    display: block;
}



/* Start of About Us Classes */

#about{
    background: #FBFBFD;
    /* background:linear-gradient(45deg, purple, rgb(245, 35, 46) ); */
    padding: 15px 9%;
    
    
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    height: 150vh;
    
}

.about .heading1{
    font-size: 4rem;
    color: var(--hc);
    /* color: rgb(248, 190, 248); */
    text-align:center;
    padding: 0.1rem;
    padding: 6rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    
}

.about  .title{
    padding: 0  1rem;
    font-size: 2.5rem;
    font-weight: 450;
    text-align: center;
    color: var(--tc);
    margin-top: -40px; 
}

.about .row
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .row .content {
    padding: 5rem;
}



.about .row .content p{
    font-size: 1.5rem;
    color: var(--tc);
    padding: 1rem 0;
    margin-top: -10px;
    margin-bottom: 10px;
}

.about .row .content button{
    height: 3.5rem;
    width: 17rem;
    background: var(--tc);
    color: white;
    border-radius: 5rem;
    border: none;
    transition: .2s;
    font-size:2rem;
    cursor: pointer;
    box-shadow: 0 .3rem 1rem rgba(0,0 ,0, .3);
}

.about .row .content button:hover{
letter-spacing: .2rem;
}

/* About Us Classes Ended */




.bg-card-color{
    background-color: aqua;
    color: azure;
}


.ms
{
    padding: 5px auto;
    margin-right: 4rem;
}



/* Team Classes */

.slick-slide .card-text{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    color: var(--hc);
}

.slick-slide .card{
    width: 18rem;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0,0 ,0, .3);
    transform: translate(0,0);
    transition: 0.3s;
    text-align: center;
    

}

.slick-slide .card:hover{
    transform: translate(0, -9px);
}

/* .card-img-top{
   background-size: cover;
   background-position: center center;
} */

card-body{
    background: var(--bgc1);
    padding: 0 10px 5px 10px;
    width: 100%;
     height: auto;
    position: relative;
    transform: translate(0,110px);
    line-height: 10px;
    transition: 0.5s;
   
    

} 



.slick-slide{
    padding-top: 10px;
    padding-bottom: 5px;
}

.card-body .btn{
    margin-top: 10px;
    display: inline-block;
    background: var(--tc);
    color: white;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.card-body  .btn:hover{
    letter-spacing: 1px;
}

/* Services Page Classes */
.services{
    display: flex;
    padding: 15px 9%;
    padding-bottom: 100px;
    margin-top: 5.5rem;
}

.services .content{
    display: flex;
}

.services .content img{
    height: 25vh;
    width: 15vw;
    margin-right: 10rem;
}

.services .content p{
    margin-left: 9rem;
    margin-right: 2rem;
}

/* Services Section Ends */

/* Contant Us Classes */

.contact
{
    background: floralwhite;
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;

}

.contact .heading{
    text-align: center;

}

.contact .title{
    text-align: center;
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.contact .row .image{
    margin-right: 2rem;
}

.contact .row .image .img{
    width: 25vw;
    height: 40vh;
    margin-right: 2rem;
}

.contact .row .form-container input, textarea{
    height: 4rem;
    width: 100%;
    background: #fff;
    border: none;
    border-radius: 50rem;
    padding: 0 1rem;
    margin: 1rem 0;
    color: aquamarine;
    font-size: 1.7rem;
    transition: .2s linear;
}

.contact .row .form-container input:focus, textarea:focus{
    border: .2rem solid aquamarine;
}

.contact .row .form-container input[type="submit"]{
    width: 17rem;
    background: aquamarine;
    color: azure; 
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
}

.contact .row .form-container input[type="submit"]:hover{
    background: none;
    color: aquamarine;
    border: .2rem solid azure;

}

.contact .row .form-container  textarea{
    height: 20rem;
    border-radius: 1rem;
    padding: 1rem;
    resize: none;
}

.contact .row .form-container{
    width: 50%;
    padding-right: 6rem;
}

/* Know Classes */
.company h3{
    font-size: 4rem;
    color: var(--hc);
    text-decoration: underline;
    text-align:center;
    padding: 0.1rem;
    padding: 6rem;
    letter-spacing: 0.2rem;
    font-weight: bold;

}

.company p{
    font-size: 1.5rem;
    color: var(--tc);
    padding: 1rem 0;
    margin-top: -10px;
    margin-bottom: 10px;
    text-justify: inter-word;
    text-align: justify;
}




/* Media Querries */

